<a href="https://colab.research.google.com/github/Vidhuran-Rajendran/Cardiovascular-Risk-Prediction-Capsotne-3/blob/main/Project3_Cardiovascular_Risk_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![download.jpg]()
 # **Cardiovascular Risk Prediction**

## <b> Problem Description </b>

The dataset is from an ongoing cardiovascular study on residents of the town of Framingham,
Massachusetts.

The classification goal is to predict whether the patient has a 10-year risk of
future coronary heart disease (CHD). 

The dataset provides the patients’ information. It includes
over 4,000 records and 15 attributes.
Variables
Each attribute is a potential risk factor. There are both demographic, behavioral, and medical risk
factors.

## <b> Data Description </b>

### **Demographic:**
* Sex: male or female("M" or "F")
* Age: Age of the patient;(Continuous - Although the recorded ages have been truncated to whole numbers, the concept of age is continuous)

### **Behavioral**
* is_smoking: whether or not the patient is a current smoker ("YES" or "NO")
* Cigs Per Day: the number of cigarettes that the person smoked on average in one day.(can be
considered continuous as one can have any number of cigarettes, even half a cigarette.)

### **Medical( history)**
* BP Meds: whether or not the patient was on blood pressure medication (Nominal)
* Prevalent Stroke: whether or not the patient had previously had a stroke (Nominal)
* Prevalent Hyp: whether or not the patient was hypertensive (Nominal)
* Diabetes: whether or not the patient had diabetes (Nominal)
Medical(current)
* Tot Chol: total cholesterol level (Continuous)
* Sys BP: systolic blood pressure (Continuous)
* Dia BP: diastolic blood pressure (Continuous)
* BMI: Body Mass Index (Continuous)
* Heart Rate: heart rate (Continuous - In medical research, variables such as heart rate though in
fact discrete, yet are considered continuous because of large number of possible values.)
* Glucose: glucose level (Continuous)
Predict variable (desired target) 

**10-year risk of coronary heart disease CHD(binary: “1”, means “Yes”, “0” means “No”) -DV**

# Architecture
Data Preparation and Exploratory Data Analysis > Build Predictive Model using Multiple Techniques/Algorithms > Optimal Model identified through Testing and Evaluation

# Importing

In [4]:
# importing required packages
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import plot_confusion_matrix, plot_precision_recall_curve, plot_roc_curve
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing  import OneHotEncoder
from sklearn import ensemble
from collections import Counter
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score

%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Importing dataset and reading
file='/content/drive/MyDrive/Colab Notebooks/ALma better/Capstone project/capstone 3/data_cardiovascular_risk.csv'
data=pd.read_csv(file,index_col='id')
data1=data.copy()

# Data Inspection

In [8]:
# First look
data1.head()

    age  education sex is_smoking  ...    BMI  heartRate  glucose  TenYearCHD
id                                 ...
0    64        2.0   F        YES  ...    NaN       90.0     80.0           1
1    36        4.0   M         NO  ...  29.77       72.0     75.0           0
2    46        1.0   F        YES  ...  20.35       88.0     94.0           0
3    50        1.0   M        YES  ...  28.26       68.0     94.0           1
4    64        1.0   F        YES  ...  26.42       70.0     77.0           0

[5 rows x 16 columns]

In [9]:
# looking into shape of the dataset
data1.shape

(3390, 16)

In [10]:
# looking into information of the dataset
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3390 entries, 0 to 3389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              3390 non-null   int64
 1   education        3303 non-null   float64
 2   sex              3390 non-null   object
 3   is_smoking       3390 non-null   object
 4   cigsPerDay       3368 non-null   float64
 5   BPMeds           3346 non-null   float64
 6   prevalentStroke  3390 non-null   int64
 7   prevalentHyp     3390 non-null   int64
 8   diabetes         3390 non-null   int64
 9   totChol          3352 non-null   float64
 10  sysBP            3390 non-null   float64
 11  diaBP            3390 non-null   float64
 12  BMI              3376 non-null   float64
 13  heartRate        3389 non-null   float64
 14  glucose          3086 non-null   float64
 15  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(5), object(2)
memory usage: 450.2+ KB

In [11]:
# looking in descriptive summary of dataset
data1.describe(include='all')

                age    education   sex  ...    heartRate      glucose   TenYearCHD
count   3390.000000  3303.000000  3390  ...  3389.000000  3086.000000  3390.000000
unique          NaN          NaN     2  ...          NaN          NaN          NaN
top             NaN          NaN     F  ...          NaN          NaN          NaN
freq            NaN          NaN  1923  ...          NaN          NaN          NaN
mean      49.542183     1.970936   NaN  ...    75.977279    82.086520     0.150737
std        8.592878     1.019081   NaN  ...    11.971868    24.244753     0.357846
min       32.000000     1.000000   NaN  ...    45.000000    40.000000     0.000000
25%       42.000000     1.000000   NaN  ...    68.000000    71.000000     0.000000
50%       49.000000     2.000000   NaN  ...    75.000000    78.000000     0.000000
75%       56.000000     3.000000   NaN  ...    83.000000    87.000000     0.000000
max       70.000000     4.000000   NaN  ...   143.000000   394.000000     1.000000

[11 rows x 16 columns]